<div class="col-md-6" style="max-width: 18rem">
    <div class="card2">
        <div class="card border-success ml-5 mt-5">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk
                    of
                    the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>
