.navbar2 {
    background-color:#68C3A3 ;
    
}
.navbar-brand {
    color: black;
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    }
.nav-item {
    position: relative;
    left: 700px;
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px;
}   