<div class="navbar2">
  <nav class="navbar navbar-expand-sm navbar-dark lighten-1">
    <a class="navbar-brand" href="#home">Github-search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-5">
        <li class="nav-item">
          <a routerLink=""></a>
        </li>
        <li class="nav-item">
          <a routerLink="/search-username" class="nav-link" routerLinkActive="active">Search Username</a>
        </li>
        <li class="nav-item">
          <a routerLink="/search-repository" class="nav-link" routerLinkActive="active">Search Repository</a>
        </li>
      </ul>
    </div>
  </nav>
</div>