<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card mt-5" style="width: 18rem;">
                    <img src="./assets/nancyspic.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nancy Kigotho</h5>
                        <p class="card-text">nancymukuiya14</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Lets Code!</li>
                        <li class="list-group-item"><i class="fa fa-map-pin"> Nairobi Kenya</i></li>
                        <li class="list-group-item"><i class="fa fa-twitter">@mukuiyakigotho</i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>